.post {
  padding: 2rem 0;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  figure {
    margin: 1em auto 0 auto;
  }
}
