.post {
  padding: 12px 0;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  h3 {
    margin: 10px 0 6px 0;
  }

  p {
    margin: 0 0 10px;
    text-align: justify;
  }

  figure {
    margin: 1em auto 0 auto;
  }
}
