.resume {
  padding: 12px 0;

  &-page-header {
    margin: 10px 0 30px 0;

    a {
      color: $default-shade;
      opacity: .6;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    h1 {
      display: inline;
    }
  }

  &-download {
    float: right;
  }

  p {
    margin: 0 0 10px;
    text-align: left;
  }

  ul {
    padding-left: 1rem;
  }
}
