<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">
            {{ site.title }}
          </h2>
        </a>
        <ul>
          <li><a href="{{ site.baseurl }}/">About</a></li>
          <li><a href="{{ "/resume" | prepend: site.url }}">Resume</a></li>
          <li><a href="{{ "/portfolio" | prepend: site.url }}">Portfolio</a></li>
          <li><a href="{{ "/blog" | prepend: site.url }}/">Blog</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>
    {% if page.title != "About" %}
      <footer>
        <div class="footer-container">
          {% include social.html %}
        </div>
      </footer>
    {% endif %}
  </body>
</html>