---
layout: default
---

<div class="post">
  <h1 class="page-title">
    {{ page.title }}
  </h1>
  <div class="page-title-line">
  </div>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.url }}" class="left arrow"><i class="fa fa-arrow-left"></i></a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.url }}" class="right arrow"><i class="fa fa-arrow-right"></i></a>
  {% endif %}

  <a href="#" class="top"><i class="fa fa-arrow-up"></i></a>
</div>
